.heading1{
    color: rgb(230, 81, 195);
    text-align: center;
}
.heading2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blueviolet;
   
}
body{
    background-color: lavenderblush;
}